[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
mysql-connector = "*"
flask-classy = "*"
mysql-connector-python = "*"
gensim = "*"
matplotlib = "*"
sklearn = "*"
"pypdf2" = "*"
pytube = "*"
youtube-dl = "*"

[dev-packages]

[requires]
python_version = "3.7"
